* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1194px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}
.header {
  margin-top: 34px;
  margin-bottom: 15px;
}
.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo h1 {
  margin: 0px;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
.header-logo p {
  margin: 0px;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 15px;
}
.header-controls a {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
  color: #000;
}
.header-controls a:hover {
  color: #ff4949;
}
.header-controls-mobile {
  align-self: flex-start;
  display: none;
}
.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  border-radius: 5px;
  background: #ff4949;
  gap: 3px;
  height: 50px;
  margin-bottom: 39px;
}
.search-box input {
  height: 100%;
  flex-grow: 1;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 0 30px;
  min-width: 0;
}
.search-box button {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #ff4949;
  border: none;
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  cursor: pointer;
}

.content {
  margin-bottom: 94px;
}
.content-box {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.content-main {
  flex-grow: 1;
}
.content-main-title {
  margin-top: 0;
  margin-bottom: 25px;
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}
.content-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.content-cards-item {
  width: calc((100% - 60px) / 3);
  text-decoration: none;
}
.content-cards-item-img {
  width: 100%;
  display: block;
  margin-bottom: 12px;
}

.content-cards-item-img img {
  width: 100%;
  display: block;
}
.content-cards-item-title {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 4px;
}
.content-cards-item-title h5,
.content-cards-item-title span {
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}
.content-cards-item-title h5 {
  font-weight: 700;
}
.content-cards-item-title span {
  font-weight: 400;
}

.content-cards-item-description {
  color: #868686;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 11px;
}
.content-cards-item-rating {
  color: #04a31e;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  margin: 0;
}

.content-sidebar {
  width: 262px;
  min-width: 262px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-sidebar-info {
  margin-bottom: 120px;
}
.content-sidebar-info-title {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 28px;
}
.content-sidebar-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content-sidebar-info-item {
  display: flex;
  flex-direction: column;
}
.content-sidebar-info-item h5,
p {
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 17px;
  margin-top: 0;
  margin-bottom: 5px;
}
.content-sidebar-info-item h5 {
  margin: 0;
  font-weight: 700;
}
.content-sidebar-info-item p {
  margin: 0;
  font-weight: 400;
}
.content-sidebar-footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.content-sidebar-footer p,
a {
  margin-top: 0;
  margin-bottom: 5px;
  color: #aaaaaa;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.content-sidebar-footer a:hover {
  color: #ff4949;
}

.content-film {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  gap: 28px;
}
.content-film-image {
  width: calc((100% - 28px) / 2);
  display: flex;
  justify-content: center;
}
.content-film-image img {
  width: 100%;
  display: block;
  max-width: 450px;
}
.content-film-info {
  width: calc((100% - 28px) / 2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.content-film-info-title {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 3px;
}
.content-film-info-title h1,
.content-film-info-title p {
  font-family: Inter, sans-serif;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}
.content-film-info-title h1 {
  font-weight: 700;
}
.content-film-info-title p {
  font-weight: 400;
}
.content-film-info-content > *:last-child {
  margin-bottom: 0;
}
.content-film-info-description {
  color: rgb(134, 134, 134);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 2px;
}
.content-film-info-rating {
  color: rgb(4, 163, 30);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 29px;
}
.content-film-info-text {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin-top: 0;
  margin-bottom: 18px;
}
.content-film-info-controls button {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding: 16px 98px;
  color: #fff;
  background-color: #ff4949;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 991px) {
  .content-cards-item {
    width: calc((100% - 30px) / 2);
  }
  .content-film {
    flex-direction: column;
  }
  .content-film-image {
    width: 100%;
  }
  .content-film-info {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .header-controls-mobile {
    display: block;
  }
  .header-controls {
    display: none;
  }
  .search-box input {
    padding: 0 15px;
  }
  .content-box {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .content-cards-item {
    width: 100%;
    min-width: 100%;
  }
}
